
body {
     padding: 25px;
     background-color: white;
     color: black;
    }
.dark-mode {
     background-color: black;
     color: white;
    }
.card {
     background: linear-gradient( 45deg, #e0eafc,#cfdef3);
    }
#dark {
     border: none;
     position: absolute;
     right: 0;
     background: white;
     outline: none;
     }